# Ignorar archivos y directorios generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos generados por Flask
instance/

# Ignorar archivos generados por Docker
*.log
*.pid
docker-compose.yml

# Ignorar archivos y directorios generados por Docker Compose
docker-compose.override.yml